.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  padding-bottom: 60px;
}

.App-link {
  color: #61dafb;
}

.modal-container {
  width: 80%;
  height: auto;
  background-color: #282c34;
}

.table-score {
  width: 100%;
}

.table-score thead {
  font-size: 20px;
}

.menu {
  margin-bottom: 20px;
}
.popup-overlay .popup-content {
  margin-top: 24px !important;
  text-align: center;
  width: 100%;
}
.input-score{
  color: black;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-score input {
  width: 40px;
}

input {
  font-size: 28px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: solid 1px black;
  margin: auto;
}

.button__increase {
  margin: 0px 8px;
  color: red;
  cursor: pointer;
  font-size: 40px;
}

.button__descrease {
  margin: 0px 8px;
  color: green;
  cursor: pointer;
  font-size: 40px;
}

.button {
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
  background-color: yellow;
}

.action {
  display: flex;
}

.score--total {
  color: yellow;
  font-size: 32px;
}

.button--float {
  position: fixed;
  bottom: 20px;
  right: 20px;
}